ul{
	margin-left: 50px;
}
.center{
	text-align: center;
}
.date{
	text-align: right;
}
.header-row{
	 display: flex;
     justify-content: space-between;
     align-items: baseline;
     margin-bottom: 0px;
}
.header-row p{
	margin: 0;
}
.location-date{
	text-align: right;
}
.degree-info{
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 10px
}
.coursework{
    margin-left: 50px;
}
